body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}



#bulbContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.bulb {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bulb-off {
    background-image: url('off_bulb.png');
}

.bulb-on {
    background-image: url('onbulb.png');
}
